@import 'tailwindcss';

@theme {
  --color-bg: #f2f6fa;
  --color-text: #1d1d1d;
  --color-pText: #686868;
  --color-primary: #29fc56;
  --color-secondary: #217be2;

  --color-card: #ffffff;

  --color-border: #e2e8f0;
}

.dark {
  --color-bg: #1d1d1d;
  --color-text: #f2f6fa;
  --color-pText: #a0a0a0;
  --color-primary: #29fc56;
  --color-secondary: #217be2;

  --color-card: #201616;

  --color-border: #4d4d4d;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
}
