@import url('https://fonts.cdnfonts.com/css/clash-display');

@import 'tailwindcss';

@theme {
  --color-bg: #f1f1f1;
  --color-pText: #222222;
  --color-text: #000000;
  --color-primary: #ff6f5c;
  --color-secondary: #ffc65c;
  --color-card: #ffffff;
  --color-border: #ddd;
  --color-danger: #ff4d4f;
  --color-success: #22c55e;
}

.dark {
  --color-bg: #242424;
  --color-text: #ffffff;
  --color-pText: #cfcfcf;
  --color-card: #353535;
  --color-border: #444;
  --color-success: #22c55e;
}

html,
body,
input,
textarea,
select,
button,
optgroup,
option {
  font-family: 'Clash Display', sans-serif;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Clash Display', sans-serif;
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
