@import 'tailwindcss';

@theme {
  --color-bg: #f3faf1;
  --color-text: #0f2a10;
  --color-pText: #476141;
  --color-primary: #57e676;
  --color-secondary: #69f0c7;
  --color-card: #ffffff;
  --color-border: #c4daca;
}

.dark {
  --color-primary: #57e676;
  --color-bg: #242424;
  --color-text: #f2f6fa;
  --color-pText: #a0a0a0;
  --color-card: #353535;
  --color-border: #444;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
